.round-select {
    color: white;
    text-align: center;
    margin-top: 3%;
    font-size: 48px;
}

.round-panel {
    display: flex;

    .round-column {
        display: flex;
        flex-direction: column;
        flex: 25%;
        margin: 0 15% 0 15%;

        p.round-column-label {
            color: white;
            text-align: center;
            font-size: 24px;
            margin-bottom: 0.5rem;
        }

        .round-btn {
            color: white;
            border: 1px solid white;
            border-radius: 15px;
            padding: 5%;
            margin-bottom: 4%;
            display: flex;
            overflow: hidden;

            &:hover {
                text-decoration: none;
            }

            .round-btn-1 {
                flex: 15%;
                font-size: 28px;
                color: #5fea3d
            }

            .round-btn-2 {
                flex: 75%;

                span {
                    display: flex;
                }
            }

            .round-btn-3 {
                flex: 10%;

                span {
                    display: block;
                }
            }
        }
    }
}